button{
    background-color: rgb(69, 34, 141);
    color: aliceblue;
    width: 100px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    border-color: aliceblue;
    margin: 15px;
  }
  .field{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-size: 25px;
    padding: 15px;
  }
  .form-group{
    display:inline-table;
  }